<div class="sign-form">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Your order</h5>
      <p class="card-text">Only one step away from gettin your food!</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item flex"><span class="span-mybids-50pct">Price</span> <span>{{bid.price}}</span></li>
      <li class="list-group-item flex"><span class="span-mybids-50pct">Restaurant</span>  <span>{{bid.foodProvider.companyName}}</span></li>
      <li class="list-group-item flex"><span class="span-mybids-50pct">Dish</span>  <span>{{dishRequest.dish.name}}</span></li>
    </ul>
    <div class="card-body flex">
      <a href="#" class="card-link span-mybids-50pct">Submit and pay</a>
      <a href="#" class="card-link">Naaah... I changed my mind</a>
    </div>
  </div>
</div>