
<form class="sign-form" action="/auth/requestdish">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Payment accepted</h5>
      <p class="card-text">Your food is on the way</p>
    </div>
<h3>See you in a bid!</h3>
  </div>
  <div class="card-body flex">
    <button type="submit" class="card-link span-mybids-50pct">I want more</button>
    <a href="/auth/myrequests" class="card-link">My requests</a>
  </div>
</form>